.layout_container {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}
.page_body {
  border: 1px solid red;
}
