.background_image {
  width: 100%;
  position: relative;
  margin-top: -4px;
  margin-bottom: 50px;
}
.background_image > img {
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  height: 426px;
}
.background_image_opacity {
  width: 100%;
  background: rgba(46, 48, 61, 0.5);
  height: 426px;
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background_image_opacity > h1 {
  color: #fff;
  font-family: "IRANSansWebBold";
  font-size: 30px;
}
/* list */
.blog_articles {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 100px;
}
.blog_article_list {
  width: 100%;
  list-style-type: none !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr)) !important;
  grid-gap: 30px !important;
}
.blog_article_list > li {
  width: 100%;
  height: 440px;
  border-radius: 20px;
}
.article {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px rgba(160, 160, 160, 0.12);
  flex-direction: column;
}
.article > div {
  width: 100%;
}
.article > div > img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.detail_blog {
  padding: 12px 20px 0 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: justify;
  margin-bottom: auto;
}
.detail_blog > h3 {
  font-family: "IRANSansWebBold";
  font-size: 15px;
  color: #141414;
  margin-bottom: 10px;
}
.detail_blog > span {
  font-family: "IRANSansWeb";
  font-size: 12px;
  color: #555;
}

.blog_btn {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}
.blog_btn > button {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2px !important;
  border: none !important;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.blog_btn > button > div {
  width: 100%;
  height: 100%;
  font-family: "IRANSansWebBold";
  color: #156419;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
}
.blog_btn > button > div > span {
  font-size: 13px;
}
.blog_btn > button > div:hover {
  color: white;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.blog_btn > button > div:hover path {
  fill: white !important;
}
.blog_btn > button > div > span {
  margin-left: 8px;
}
