.background_image2 {
  width: 100%;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(46, 48, 61, 0.7) 0.22%,
    rgba(46, 48, 61, 0) 127.2%
  );
  height: 426px;
  margin-bottom: 100px;
}
/* background_image2_right */
.background_image2_right {
  width: 49%;
  padding: 0 50px;
}
.background_image2_right > img {
  width: 357px;
  height: 426px;
  opacity: 85%;
}
/* background_image2_left */
.background_image2_left {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background_image2_left > h1 {
  color: #fff;
  font-size: 60px;
  font-family: "IRANSansWebBold";
  margin-bottom: 20px;
}
.background_image2_left > h3 {
  color: #fff;
  font-size: 30px;
  font-family: "IRANSansWebBold";
  margin-bottom: 20px;
}
.background_image2_left > span {
  color: #fff;
  font-size: 20px;
  font-family: "IRANSansWebBold";
  margin-bottom: 20px;
}
/* contactUs_information */
.contactUs_information {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
/* contactUs_box */
.contactUs_box {
  width: 31%;
  height: 230px;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(68, 46, 26, 0.12);
}
.contactUs_box > a {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: unset !important;
  transition: background 0.1s;
}
.contactUs_box > a:hover {
  background: rgba(230, 230, 230, 0.8);
}
.contactUs_box > a > svg {
  width: 66px;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.contactUs_box > a > h3 {
  color: #156419;
  font-size: 20px;
  font-family: "IRANSansWebBold";
  margin-bottom: 10px;
}
.contactUs_box > a > h4 {
  font-size: 18px;
  font-family: "IRANSansWeb";
  color: #555;
}
/* section_Address */
.section_Address {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 100px;
}
/* Address1 */
.Address1 {
  width: 100%;
  height: 133px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(68, 46, 26, 0.12);
  display: flex;
  border-radius: 20px;
  border: 1px solid #f1f1f1;
  align-items: center;
  padding-right: 25px;
}
.Address1 > svg {
  min-width: 45px;
  height: 81px;
}
.Address1 > h3 {
  margin-right: 23px;
  font-size: 20px;
  font-family: "IRANSansWebBold";
  color: #555;
}
.section_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.section_about > div > h1 {
  font-size: 22px;
  font-family: "IRANSansWebBold";
  margin-bottom: 5px;
  color: #141414;
}
.mapTitle {
  margin-bottom: 16px;
}
.map_container {
  width: 100%;
  height: 70vh;
  padding: 0 50px;
}

@media only screen and (max-width: 1000px) {
  .background_image2_left > h1 {
    font-size: 48px;
  }
  .background_image2_left > h3 {
    font-size: 24px;
  }
  .background_image2_left > span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .section_Address,
  .contactUs_information {
    padding: 0 12px !important;
    margin-bottom: 48px;
  }
  .background_image2 {
    margin-bottom: 48px !important;
    justify-content: space-between;
    padding: 0 12px;
  }
  .background_image2_right {
    padding: 0 !important;
  }
  .background_image2_left > h1 {
    font-size: 36px;
  }
  .background_image2_left > h3 {
    font-size: 18px;
  }
  .background_image2_left > span {
    font-size: 14px;
  }
  .map_container {
    padding: 0 12px !important;
  }
}
@media only screen and (max-width: 600px) {
  .background_image2 {
    height: 300px;
  }
  .background_image2_right {
    width: 220px !important;
  }
  .background_image2_right > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  .background_image2_left {
    width: calc(100% - 230px);
  }
  .background_image2_left > h1 {
    font-size: 24px;
    text-align: center;
  }
  .background_image2_left > h3 {
    font-size: 16px;
    text-align: center;
  }
  .background_image2_left > span {
    font-size: 12px;
    text-align: center;
  }
  .contactUs_information {
    flex-direction: column;
  }
  .contactUs_information > div {
    width: 100%;
    margin: 0;
  }
  .contactUs_information > div:nth-child(2) {
    margin: 16px 0 !important;
  }
  .Address1 {
    padding: 16px !important;
  }
  .Address1 > h3 {
    font-size: 16px;
    text-align: justify;
    line-height: 32px;
  }
}
@media only screen and (max-width: 500px) {
  .background_image2_right {
    display: none;
  }
  .background_image2_left {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 400px) {
  .Address1 > h3 {
    font-size: 14px !important;
  }
}
