@font-face {
  font-family: IRANSansWebBold;
  src: url(../assets/fonts/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: IRANSansWeb;
  src: url(../assets/fonts/IRANSansWeb.ttf);
}
* {
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: IRANSansWeb;
}

html {
  overflow-x: hidden !important;
}
.ant-message,
.ant-popover {
  z-index: 99999999999999 !important;
}
.ant-message > div > div > div {
  display: flex;
  align-items: center;
}
