@font-face {
  font-family: IRANSansWebBold;
  src: url(../assets/fonts/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: IRANSansWeb;
  src: url(../assets/fonts/IRANSansWeb.ttf);
}
* {
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: IRANSansWeb;
}
