.top_swipper {
  margin-bottom: 150px;
  position: relative;
}
.top_swipper_slide {
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home_slider_one_content {
  width: 60%;
  position: absolute;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_slider_one_content > h1,
.home_slider_two_content > h1 {
  color: #141414;
  font-size: 48px;
  font-family: IRANSansWebBold !important;
  margin-bottom: 20px;
}
.home_slider_one_content > span {
  color: #141414;
  font-size: 32px;
}
.home_slider_two_content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_slider_two_content > span {
  color: #156419;
  font-size: 32px;
}
.swiper_slide > h1 {
  z-index: 99;
  position: absolute;
  top: 160px;
  left: 230px;
  font-size: 25px;
  font-family: "IRANSansWebBold";
  color: #141414;
}
.swiper_slide > span {
  z-index: 99;
  position: absolute;
  top: 205px;
  left: 280px;
  color: #555;
  font-family: "IRANSansWeb";
}

.swiper_button_next,
.swiper_button_prev {
  background: #fff;
  width: 30px !important;
  height: 30px !important;
  box-shadow: (0px 0px 4px rgba(116, 116, 116, 0.25));
  border-radius: 100px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.1s;
  z-index: 999;
}
.swiper_button_next {
  left: 50px;
}
.swiper_button_prev {
  right: 50px;
}
.swiper_button_prev:hover {
  background: #156419 !important;
}
.swiper_button_next:hover {
  background: #156419 !important;
}
.swiper_button_next > svg,
.swiper_button_prev > svg {
  width: 6px !important;
}
.swiper_button_prev:hover path {
  stroke: #fff !important;
}
.swiper_button_next:hover path {
  stroke: #fff !important;
}
.swiper_button_prev.swiper-button-disabled {
  opacity: 1 !important;
}

/* section_one */
.section_one {
  width: 100%;
  max-width: 100%;
  display: flex;
  padding: 0 50px 0 0;
  justify-content: space-between;
  margin-bottom: 100px;
  overflow-x: hidden !important;
}
/* section_one_right */
.section_one_right {
  width: 59%;
  display: flex;
  flex-direction: column;
}
.title > h1 {
  font-size: 22px;
  font-family: "IRANSansWebBold";
  margin-bottom: 5px;
}
/* line */
.line {
  width: 170px;
  height: 6px;
  background: linear-gradient(
    270deg,
    #db3567 0%,
    #156419 0.01%,
    rgba(21, 100, 25, 0) 100%
  );
  border-radius: 150px;
  margin-bottom: 20px;
}
/* description */
.description {
  width: 75%;
  margin-bottom: 25px;
}
.description > p {
  font-size: 15px;
  font-family: "IRANSansWeb";
  text-align: justify;
}
/* section_one_right_btn */
.section_one_right_btn {
  width: 100%;
}
.section_one_right_btn > button {
  width: 150px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2px !important;
  border: none !important;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.section_one_right_btn > button > div {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "IRANSansWebBold";
  color: #156419;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
}
.section_one_right_btn > button > div > span {
  font-family: "IRANSansWebBold";
  font-size: 15px;
}
.section_one_right_btn > button > div:hover {
  color: white;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.section_one_right_btn > button > div:hover path {
  fill: white !important;
}
.section_one_right_btn > button > div > span {
  margin-left: 8px;
}

/* section_one_left */
.section_one_left {
  width: 39%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/* Photo_background */
.Photo_background {
  border-radius: 0px 100px 100px 0px;
  background: #156419;
  box-shadow: 0px 34px 50px 0px rgba(68, 46, 26, 0.12);
  width: 486px;
  height: 214px;
  display: flex;
  position: relative;
  margin-top: 100px;
}
.Photo_background > img {
  position: absolute;
  width: 100%;
  bottom: 40px;
  right: -60px;
  min-width: 340px;
}
/* section_two */
.section_two {
  width: 100%;
  background: rgba(21, 100, 25, 0.03);
  margin-bottom: 100px;
  padding: 40px 50px;
}
/* section_two_title */
.section_two_title {
  width: 100%;
  margin-bottom: 40px;
}
.section_two_title > h1 {
  font-size: 22px;
  font-family: "IRANSansWebBold";
  margin-bottom: 5px;
}
/* line1 */
.line1 {
  width: 270px;
  height: 6px;
  background: linear-gradient(
    270deg,
    #db3567 0%,
    #156419 0.01%,
    rgba(21, 100, 25, 0) 100%
  );
  border-radius: 150px;
}
.section_two > div:nth-child(2) {
  padding-bottom: 40px;
}
.categories_swiper_slide_with_btn {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #fff;
  max-width: 22% !important;
  min-width: 280px !important;
  height: 430px;
  padding-bottom: 16px;
  transition: all ease 0.3s;
}
.categories_swiper_slide_with_btn > .swiper_slide_btn {
  margin-top: auto;
}

.categories_swiper_slide_with_btn:hover {
  box-shadow: 0px 24px 30px 0px rgba(101, 79, 59, 0.12);
  transition: border 0.1s;
}
.categories_swiper_slide_with_btn > div > img {
  width: 100%;
  max-height: 210px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.detail {
  padding: 12px 20px 0 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.detail > h3 {
  font-family: "IRANSansWebBold";
  font-size: 15px;
  color: #141414;
  margin-bottom: 10px;
}
.detail > span {
  font-family: "IRANSansWeb";
  font-size: 12px;
  color: #555;
}

/* swiper-slide-btn*/
.swiper_slide_btn {
  width: 100%;
  padding: 0 20px;
}
.swiper_slide_btn > button {
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2px !important;
  border: none !important;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.swiper_slide_btn > button > div {
  width: 100%;
  height: 100%;
  font-family: "IRANSansWebBold";
  color: #156419;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
}
.swiper_slide_btn > button > div > span {
  font-size: 13px;
}
.swiper_slide_btn > button > div:hover {
  color: white;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.swiper_slide_btn > button > div:hover path {
  fill: white !important;
}
.swiper_slide_btn > button > div > span {
  margin-left: 8px;
}
/* section_three */
.section_three {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin-bottom: 100px;
}

/* section_three_title */
.section_three_title {
  width: 100%;
}
.section_three_title > h1 {
  font-size: 22px;
  font-family: "IRANSansWebBold";
  margin-bottom: 5px;
}
/* line2 */
.line2 {
  width: 110px;
  height: 6px;
  background: linear-gradient(
    270deg,
    #db3567 0%,
    #156419 0.01%,
    rgba(21, 100, 25, 0) 100%
  );
  border-radius: 150px;
  margin-bottom: 20px;
}
.gallery_center a,
.gallery_right a {
  height: 200px !important;
  display: flex;
}
.gallery_left a {
  display: flex;
  height: 100% !important;
}

.gallery_center img,
.gallery_left img,
.gallery_right img {
  height: 100% !important;
  object-fit: cover;
}
/* gallery_pictures */
.gallery_pictures {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
/* gallery_right */
.gallery_right {
  display: flex;
  flex-direction: column;
  width: 27%;
  margin-left: 20px;
}
/* gallery_right_top */
.gallery_right_top {
  margin-bottom: 20px;
  height: 200px;
}
.gallery_right_top > a > img {
  border-radius: 0 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery_right_bottom {
  height: 200px;
}
.gallery_right_bottom > a > img {
  border-radius: 0 0 20px 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* gallery_center */
.gallery_center {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 20px;
}
/* gallery_center_top */
.gallery_center_top {
  display: flex;
  margin-bottom: 20px;
}
.gallery_center_top > div {
  margin-right: 20px;
  width: 50%;
  height: 200px;
}
.gallery_center_top > div:nth-child(1) {
  margin-right: 0 !important;
}
.gallery_center_top > div > a > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.gallery_center_bottom > a > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}
/* gallery_left */
.gallery_left {
  display: flex;
  flex-direction: column;
  width: 27%;
}
.gallery_left > a > img {
  object-fit: cover;
  width: 100%;
  height: 423px;
  border-radius: 20px 0 0 20px;
}
/* section_three_btn */
.section_three_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_three_btn > button {
  width: 164px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2px !important;
  border: none !important;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.section_three_btn > button > div {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: "IRANSansWebBold";
  color: #156419;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
}
.section_three_btn > button > div > span {
  font-family: "IRANSansWebBold";
  font-size: 15px;
}
.section_three_btn > button > div:hover {
  color: white;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
/* section_four */
.section_four {
  display: flex;
  width: 100%;
  padding: 0 50px;
  flex-direction: column;
  margin-bottom: 100px;
}
/* section_four_title */
.section_four_title {
  width: 100%;
}
.section_four_title > h1 {
  font-size: 22px;
  font-family: "IRANSansWebBold";
  margin-bottom: 5px;
}
/* line3 */
.line3 {
  width: 60px;
  height: 6px;
  background: linear-gradient(
    270deg,
    #db3567 0%,
    #156419 0.01%,
    rgba(21, 100, 25, 0) 100%
  );
  border-radius: 150px;
  margin-bottom: 20px;
}
.boxes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.box {
  width: 31%;
  height: 440px;
  display: flex;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px rgba(160, 160, 160, 0.12);
  flex-direction: column;
}
.box > div {
  width: 100%;
}
.box > div > img {
  width: 100%;
  height: 210px;
  max-height: 210px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.detail_blog {
  padding: 12px 20px 0 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: justify;
  margin-bottom: auto;
}
.detail_blog > h3 {
  font-family: "IRANSansWebBold";
  font-size: 15px;
  color: #141414;
  margin-bottom: 10px;
}
.detail_blog > span {
  font-family: "IRANSansWeb";
  font-size: 12px;
  color: #555;
}

/* blog_btn*/
.blog_btn {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}
.blog_btn > button {
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2px !important;
  border: none !important;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.blog_btn > button > a {
  width: 100% !important;
  height: 100% !important;
  text-decoration: none !important;
}
.blog_btn > button > a > div {
  width: 100%;
  height: 100%;
  font-family: "IRANSansWebBold";
  color: #156419;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
}
.blog_btn > button > a > div > span {
  font-size: 13px;
}
.blog_btn > button > a > div:hover {
  color: white;
  background: rgb(21, 100, 25);
  background: linear-gradient(
    90deg,
    rgba(21, 100, 25, 0.4253895308123249) 0%,
    rgba(21, 100, 25, 1) 100%
  );
}
.blog_btn > button > a > div:hover path {
  fill: white !important;
}
.blog_btn > button > a > div > span {
  margin-left: 8px;
}
.box:hover {
  box-shadow: 0px 24px 30px 0px rgba(101, 79, 59, 0.12);
  transition: border 0.1s;
}
/* section_five */
.section_five {
  display: flex;
  width: 100%;
  padding: 0 50px;
  /* background: rgba(21, 100, 25, 0.03); */
  margin-bottom: 20px;
  flex-direction: column;
  height: 360px;
}
/* section_five_title */
.section_five_title {
  margin-top: 40px;
  width: 100%;
}
.section_five_title > h1 {
  font-size: 22px;
  font-family: "IRANSansWebBold";
  margin-bottom: 5px;
}
/* line4 */
.line4 {
  width: 140px;
  height: 6px;
  background: linear-gradient(
    270deg,
    #db3567 0%,
    #156419 0.01%,
    rgba(21, 100, 25, 0) 100%
  );
  border-radius: 150px;
  margin-bottom: 20px;
}
.swiper_slide_comments {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #fff;
  max-width: 25% !important;
  height: 165px !important;
  padding-bottom: 16px;
  min-width: 310px;
  border: 1px solid rgba(230, 230, 230, 0.6);
}
.swiper_slide_comments_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 20px 12px 20px;
}
.image_profile {
  display: flex;
}
.image_profile > img {
  margin-left: 10px;
}
.image_profile > div {
  display: flex;
  flex-direction: column;
}
.image_profile > div > h3 {
  font-family: "IRANSansWebBold";
  font-size: 15px;
  color: #141414;
}
.image_profile > div > span {
  font-family: "IRANSansWeb";
  font-size: 12px;
  color: #555;
}
.star {
  margin-top: 5px;
}
.swiper_slide_comments_bottom {
  display: flex;
  width: 100%;
  padding: 0 20px;
}
.swiper_slide_comments_bottom > span {
  text-align: justify;
  font-family: "IRANSansWeb";
  font-size: 12px;
  color: #555;
}

@media only screen and (max-width: 1000px) {
  .home_slider_one_content > h1,
  .home_slider_two_content > h1 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    padding: 0 12px;
  }
  .home_slider_two_content > span,
  .home_slider_one_content > span {
    font-size: 16px;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .section_one,
  .section_two,
  .section_three,
  .section_four,
  .top_swipper {
    margin-bottom: 48px !important;
  }
  .section_five_title {
    margin-top: 0 !important;
  }
  .swiper_button_prev {
    right: 12px !important;
  }
  .swiper_button_next {
    left: 12px !important;
  }
  .section_five,
  .section_four,
  .section_three,
  .section_one {
    padding: 0 12px;
  }
  .section_one {
    flex-direction: column-reverse;
  }
  .section_one > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_one > div:nth-child(2) {
    margin-bottom: 24px;
  }
  .Photo_background {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 80px !important;
  }
  .Photo_background > img {
    left: unset;
    right: unset;
    width: calc(100% - 24px);
    bottom: 12px;
  }
  .description {
    width: 100% !important;
  }
  .description > p {
    text-align: center;
  }
  .section_one_right_btn {
    display: flex;
    justify-content: center;
  }
  .section_two {
    padding: 12px !important;
  }
  .gallery_pictures {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .gallery_pictures > div {
    width: 100% !important;
    margin: 0;
    margin-bottom: 8px;
  }
  .gallery_pictures > div:last-child {
    margin-bottom: 0 !important;
  }
  .gallery_center_top,
  .gallery_right_top {
    margin-bottom: 8px !important;
  }
  .gallery_right_bottom > a,
  .gallery_right_top > a {
    display: flex;
    height: 100% !important;
  }
  .gallery_right_top > a > img {
    border-radius: 16px 16px 0 0;
  }
  .gallery_right_bottom > a > img {
    border-radius: 0 !important;
  }
  .gallery_center_top > div {
    width: 50% !important;
    margin: 0 !important;
  }
  .gallery_center_top > div:nth-child(1) {
    margin-left: 8px !important;
  }
  .gallery_left > a,
  .gallery_center_bottom > a,
  .gallery_center_top > div > a {
    display: flex;
    height: 100% !important;
  }
  .gallery_left > a > img {
    border-radius: 0 0 16px 16px;
  }
  .boxes {
    flex-wrap: wrap;
  }
  .box {
    min-width: 290px;
    margin: 0;
    margin-bottom: 16px !important;
  }
}
@media only screen and (max-width: 600px) {
  .top_swipper_slide {
    height: 300px;
  }
  .home_slider_one_content {
    width: 70%;
  }
  .home_slider_one_content > h1,
  .home_slider_two_content > h1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 80px;
  }
  .home_slider_two_content > span,
  .home_slider_one_content > span {
    font-size: 14px;
    padding: 0 12px;
  }
  .swiper_button_prev,
  .swiper_button_next {
    display: none;
  }
  .Photo_background {
    width: 280px;
    height: 180px;
    margin-top: 40px !important;
  }
  .Photo_background > img {
    width: 304px;
    min-width: 304px;
    height: 200px;
  }
  .description > p {
    font-size: 14px;
  }
  .title {
    width: 100% !important;
  }
  .section_five_title > h1,
  .section_four_title > h1,
  .section_two_title > h1,
  .section_three_title > h1,
  .title > h1 {
    font-size: 18px !important;
    text-align: center;
  }
  .section_two_title > div,
  .line2,
  .line3,
  .line4,
  .title > div {
    width: 100% !important;
  }
  .boxes {
    flex-wrap: unset;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 100% !important;
    border: 1px solid rgba(220, 220, 220, 0.5);
  }
}
@media only screen and (max-width: 400px) {
  .home_slider_one_content {
    width: 75%;
  }
  .home_slider_one_content > h1,
  .home_slider_two_content > h1 {
    font-size: 18px;
  }
  .home_slider_two_content > span,
  .home_slider_one_content > span {
    font-size: 13px;
  }
}
